.btn {
  text-align: center;
}

button {
  border: 3px solid #11947a38;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #fff;
  cursor: pointer;
  transition: 300ms ease;
  font-size: 20px;
}

button:hover {
  border-color: #64ceb9;
  background-color: #f1f1f1;
  transition: 300ms ease;
}

button:focus {
  outline: none;
}
