* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ecf0f1;
}

.container {
  max-width: 1200px;
  margin: 100px auto 0;
  padding: 0 20px;
  position: relative;
}

.container:not(.header-container, .footer-container) {
  min-height: calc(100vh - 228px);
}

.container h2 {
  margin-bottom: 50px;
  text-align: center;
}

.btn-container {
  text-align: center;
}

.drink-infos::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: orange; /* color of the tracking area */
}
.drink-infos::-webkit-scrollbar-thumb {
  border: 3px solid orange; /* creates padding around scroll thumb */
}
